body {
  height: '100vh';
  font-family: 'Frijole';
  background: #faabe6;
  background: linear-gradient(#fea5ff, #fffbe6, #fffbe6);
  <!-- add gradient from pink to creme-->

}
h2 {
  color: #02c9ef;
  text-shadow: 1px 1px white;
  <!-- drop shadow -->
  text-align: center;
  vertical-align: middle;
}
#donut{
  width: 100px;
  height: auto;
  <!-- resize picture -->
}
p {
  color: #02c9ef;
}
iframe{
  display: block;
  margin: 0 auto;
  <!-- Centering Video -->
}
img{
  height: 200px;
  float: center;
}
